<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloBean" class="com.sample.core.HelloWorld">
		<property name="name" value="Srinivas" />
	</bean>
	
	<bean id="car" class="com.sample.core.beanfactorypostprocessor.Car">
		<property name="color" value="${car.color}" />
		<property name="model" value="${car.model}" />
	</bean>
	
	<bean id="teslaCar" class="com.sample.core.beanpostprocessor.TeslaCar">
		<property name="color" value="${car.color}" />
		<property name="model" value="X500" />
	</bean>
	
	<bean class="com.sample.core.beanfactorypostprocessor.MyBeanFactoryPostProcessor"/>
	
	<bean class="com.sample.core.beanpostprocessor.MyBeanPostProcessor"/>  
 
</beans>