<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:annotation-config/>
	<context:component-scan base-package="com.sample.core.annotation" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="location">
	        <value>car.properties</value>
	    </property>
	</bean>
	
	<bean id="twoWheelDrive" class="com.sample.core.annotation.DriveType">
		<property name="type" value="Two wheel Drive" />
	</bean>
	
	<bean id="allWheelDrive" class="com.sample.core.annotation.DriveType">
		<property name="type" value="All wheel Drive" />
	</bean>
	

</beans>